{% if page.sidenav == "LeetcodeDatabaseMedium1" %}
<div id="list-example" class="list-group">

    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/leetcode-database-solution-list/"><b>LeetCode Database - Medium</b></a>

    {% if page.url == "/nth-highest-salary/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-26-nth-highest-salary %}">LeetCode 177</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-26-nth-highest-salary %}">LeetCode 177</a>
    {% endif %}

    {% if page.url == "/rank-scores/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-25-rank-scores %}">LeetCode 178</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-25-rank-scores %}">LeetCode 178</a>
    {% endif %}    

    {% if page.url == "/consecutive-numbers/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-17-consecutive-numbers %}">LeetCode 180</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-17-consecutive-numbers %}">LeetCode 180</a>
    {% endif %}    

    {% if page.url == "/department-highest-salary/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-26-department-highest-salary %}">LeetCode 184</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-26-department-highest-salary %}">LeetCode 184</a>
    {% endif %} 

    {% if page.url == "/game-play-analysis-III/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-18-game-play-analysis-III %}">LeetCode 534</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-18-game-play-analysis-III %}">LeetCode 534</a>
    {% endif %} 

    {% if page.url == "/game-play-analysis-IV/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-18-game-play-analysis-IV %}">LeetCode 550</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-18-game-play-analysis-IV %}">LeetCode 550</a>
    {% endif %} 

    {% if page.url == "/managers-with-at-least-5-direct-reports/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-23-managers-with-at-least-5-direct-reports %}">LeetCode 570</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-23-managers-with-at-least-5-direct-reports %}">LeetCode 570</a>
    {% endif %} 


    {% if page.url == "/winning-candidate/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-25-winning-candidate %}">LeetCode 574</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-25-winning-candidate %}">LeetCode 574</a>
    {% endif %} 

    {% if page.url == "/get-highest-answer-rate-question/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-26-get-highest-answer-rate-question %}">LeetCode 578</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-26-get-highest-answer-rate-question %}">LeetCode 578</a>
    {% endif %} 


    {% if page.url == "/count-student-number-in-departments/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-25-count-student-number-in-departments %}">LeetCode 580</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-25-count-student-number-in-departments %}">LeetCode 580</a>
    {% endif %} 

    {% if page.url == "/investments-in-2016/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-25-investments-in-2016 %}">LeetCode 585</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-25-investments-in-2016 %}">LeetCode 585</a>
    {% endif %} 

    {% if page.url == "/friend-requests-II-who-has-the-most-friends/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-25-friend-requests-II-who-has-the-most-friends %}">LeetCode 602</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-25-friend-requests-II-who-has-the-most-friends %}">LeetCode 602</a>
    {% endif %} 

    {% if page.url == "/tree-node/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-23-tree-node %}">LeetCode 608</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-23-tree-node %}">LeetCode 608</a>
    {% endif %} 


    {% if page.url == "/shortest-distance-in-a-plane/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-23-shortest-distance-in-a-plane %}">LeetCode 612</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-23-shortest-distance-in-a-plane %}">LeetCode 612</a>
    {% endif %} 

    {% if page.url == "/second-degree-follower/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-26-second-degree-follower %}">LeetCode 614</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-26-second-degree-follower %}">LeetCode 614</a>
    {% endif %} 

    {% if page.url == "/exchange-seats/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-23-exchange-seats %}">LeetCode 626</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-23-exchange-seats %}">LeetCode 626</a>
    {% endif %} 

    {% if page.url == "/customers-who-bought-all-products/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-23-customers-who-bought-all-products %}">LeetCode 1045</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-23-customers-who-bought-all-products %}">LeetCode 1045</a>
    {% endif %} 

    {% if page.url == "/product-sales-analysis-III/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-25-product-sales-analysis-III %}">LeetCode 1070</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-25-product-sales-analysis-III %}">LeetCode 1070</a>
    {% endif %} 

    {% if page.url == "/project-employees-III/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-22-project-employees-III %}">LeetCode 1077</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-22-project-employees-III %}">LeetCode 1077</a>
    {% endif %} 

    {% if page.url == "/unpopular-books/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-26-unpopular-books %}">LeetCode 1098</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-26-unpopular-books %}">LeetCode 1098</a>
    {% endif %} 

    {% if page.url == "/new-users-daily-count/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-26-new-users-daily-count %}">LeetCode 1107</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-26-new-users-daily-count %}">LeetCode 1107</a>
    {% endif %} 

    {% if page.url == "/highest-grade-for-each-student/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-22-highest-grade-for-each-student %}">LeetCode 1112</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-22-highest-grade-for-each-student %}">LeetCode 1112</a>
    {% endif %} 

    {% if page.url == "/active-business/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-23-active-business %}">LeetCode 1126</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-23-active-business %}">LeetCode 1126</a>
    {% endif %} 


    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/leetcode-database-solution-list/">More LeetCode Database</a>


</div>
{% endif %}


