{% if page.sidenav == "LeetcodeDatabaseEasy2" %}
<div id="list-example" class="list-group">

    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/leetcode-database-solution-list/"><b>LeetCode Database Easy</b></a>

    {% if page.url == "/actors-and-directors-who-cooperated-at-least-three-times/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-19-actors-and-directors-who-cooperated-at-least-three-times %}">LeetCode 1050</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-19-actors-and-directors-who-cooperated-at-least-three-times %}">LeetCode 1050</a>
    {% endif %}

    {% if page.url == "/product-sales-analysis-I/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-19-product-sales-analysis-I %}">LeetCode 1068</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-19-product-sales-analysis-I %}">LeetCode 1068</a>
    {% endif %}    

    {% if page.url == "/product-sales-analysis-II/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-19-product-sales-analysis-II %}">LeetCode 1069</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-19-product-sales-analysis-II %}">LeetCode 1069</a>
    {% endif %}  

    {% if page.url == "/project-employees-I/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-20-project-employees-I %}">LeetCode 1075</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-20-project-employees-I %}">LeetCode 1075</a>
    {% endif %} 

    {% if page.url == "/project-employees-II/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-20-project-employees-II %}">LeetCode 1076</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-20-project-employees-II %}">LeetCode 1076</a>
    {% endif %} 


    {% if page.url == "/sales-analysis-I/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-19-sales-analysis-I %}">LeetCode 1082</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-19-sales-analysis-I %}">LeetCode 1082</a>
    {% endif %} 

    {% if page.url == "/sales-analysis-II/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-20-sales-analysis-II %}">LeetCode 1083</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-20-sales-analysis-II %}">LeetCode 1083</a>
    {% endif %} 


    {% if page.url == "/sales-analysis-III/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-20-sales-analysis-III %}">LeetCode 1084</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-20-sales-analysis-III %}">LeetCode 1084</a>
    {% endif %} 

    {% if page.url == "/reported-posts/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-20-reported-posts %}">LeetCode 1113</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-20-reported-posts %}">LeetCode 1113</a>
    {% endif %} 

    {% if page.url == "/user-activity-for-the-past-30-days-I/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-20-user-activity-for-the-past-30-days-I %}">LeetCode 1141</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-20-user-activity-for-the-past-30-days-I %}">LeetCode 1141</a>
    {% endif %} 


    {% if page.url == "/user-activity-for-the-past-30-days-II/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-21-user-activity-for-the-past-30-days-II %}">LeetCode 1142</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-21-user-activity-for-the-past-30-days-II %}">LeetCode 1142</a>
    {% endif %}

    {% if page.url == "/article-views-I/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-19-article-views-I %}">LeetCode 1148</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-19-article-views-I %}">LeetCode 1148</a>
    {% endif %}

    {% if page.url == "/immediate-food-delivery-I/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-19-immediate-food-delivery-I %}">LeetCode 1173</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-19-immediate-food-delivery-I %}">LeetCode 1173</a>
    {% endif %}

    {% if page.url == "/reformat-department-table/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-19-reformat-department-table %}">LeetCode 1179</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-19-reformat-department-table %}">LeetCode 1179</a>
    {% endif %}

    {% if page.url == "/queries-quality-and-percentage/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-20-queries-quality-and-percentage %}">LeetCode 1211</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-20-queries-quality-and-percentage %}">LeetCode 1211</a>
    {% endif %}

    {% if page.url == "/number-of-comments-per-post/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-20-number-of-comments-per-post %}">LeetCode 1241</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-20-number-of-comments-per-post %}">LeetCode 1241</a>
    {% endif %}


    {% if page.url == "/average-selling-price/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-19-average-selling-price %}">LeetCode 1251</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-19-average-selling-price %}">LeetCode 1251</a>
    {% endif %}


    {% if page.url == "/students-and-examinations/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-20-students-and-examinations %}">LeetCode 1280</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-20-students-and-examinations %}">LeetCode 1280</a>
    {% endif %}


    {% if page.url == "/weather-type-in-each-country/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-20-weather-type-in-each-country %}">LeetCode 1294</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-20-weather-type-in-each-country %}">LeetCode 1294</a>
    {% endif %}





















    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/leetcode-database-solution-list/">More LeetCode Database</a>


</div>
{% endif %}


