{% if page.sidenav == "LeetcodeDatabaseHard1" %}
<div id="list-example" class="list-group">

    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/leetcode-database-solution-list/"><b>LeetCode Database - Hard</b></a>

    {% if page.url == "/department-top-three-salaries/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-27-department-top-three-salaries %}">LeetCode 185</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-27-department-top-three-salaries %}">LeetCode 185</a>
    {% endif %}

    {% if page.url == "/trips-and-users/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-27-trips-and-users %}">LeetCode 262</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-27-trips-and-users %}">LeetCode 262</a>
    {% endif %}



    {% if page.url == "/median-employee-salary/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-28-median-employee-salary %}">LeetCode 569</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-28-median-employee-salary %}">LeetCode 569</a>
    {% endif %}


    {% if page.url == "/find-median-given-frequency-of-numbers/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-27-find-median-given-frequency-of-numbers %}">LeetCode 571</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-27-find-median-given-frequency-of-numbers %}">LeetCode 571</a>
    {% endif %}


    {% if page.url == "/find-cumulative-salary-of-an-employee/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-27-find-cumulative-salary-of-an-employee %}">LeetCode 579</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-27-find-cumulative-salary-of-an-employee %}">LeetCode 579</a>
    {% endif %}



    {% if page.url == "/human-traffic-of-stadium/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-27-human-traffic-of-stadium %}">LeetCode 601</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-27-human-traffic-of-stadium %}">LeetCode 601</a>
    {% endif %}


    {% if page.url == "/average-salary-departments-vs-company/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-27-average-salary-departments-vs-company %}">LeetCode 615</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-27-average-salary-departments-vs-company %}">LeetCode 615</a>
    {% endif %}


    {% if page.url == "/students-report-by-geography/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-28-students-report-by-geography %}">LeetCode 618</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-28-students-report-by-geography %}">LeetCode 618</a>
    {% endif %}


    {% if page.url == "/game-play-analysis-V/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-28-game-play-analysis-V %}">LeetCode 1097</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-28-game-play-analysis-V %}">LeetCode 1097</a>
    {% endif %}


    {% if page.url == "/user-purchase-platform/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-27-user-purchase-platform %}">LeetCode 1127</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-27-user-purchase-platform %}">LeetCode 1127</a>
    {% endif %}


    {% if page.url == "/market-analysis-II/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-28-market-analysis-II %}">LeetCode 1159</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-28-market-analysis-II %}">LeetCode 1159</a>
    {% endif %}


    {% if page.url == "/tournament-winners/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-28-tournament-winners %}">LeetCode 1194</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-28-tournament-winners %}">LeetCode 1194</a>
    {% endif %}


    {% if page.url == "/report-contiguous-dates/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-28-report-contiguous-dates %}">LeetCode 1225</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-28-report-contiguous-dates %}">LeetCode 1225</a>
    {% endif %}


    {% if page.url == "/number-of-transactions-per-visit/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-27-number-of-transactions-per-visit %}">LeetCode 1336</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-27-number-of-transactions-per-visit %}">LeetCode 1336</a>
    {% endif %}


    {% if page.url == "/get-the-second-most-recent-activity/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-29-get-the-second-most-recent-activity %}">LeetCode 1369</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-29-get-the-second-most-recent-activity %}">LeetCode 1369</a>
    {% endif %}



    {% if page.url == "/total-sales-amount-by-year/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-29-total-sales-amount-by-year %}">LeetCode 1384</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-29-total-sales-amount-by-year %}">LeetCode 1384</a>
    {% endif %}


    {% if page.url == "/find-the-quiet-students-in-all-exams/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-29-find-the-quiet-students-in-all-exams %}">LeetCode 1412</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-29-find-the-quiet-students-in-all-exams %}">LeetCode 1412</a>
    {% endif %}



    {% if page.url == "/sales-by-day-of-the-week/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-29-sales-by-day-of-the-week %}">LeetCode 1479</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-29-sales-by-day-of-the-week %}">LeetCode 1479</a>
    {% endif %}


    {% if page.url == "/hopper-company-queries-I/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-28-hopper-company-queries-I %}">LeetCode 1635</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-28-hopper-company-queries-I %}">LeetCode 1635</a>
    {% endif %}


    {% if page.url == "/hopper-company-queries-II/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-27-hopper-company-queries-II %}">LeetCode 1645</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-27-hopper-company-queries-II %}">LeetCode 1645</a>
    {% endif %}


    {% if page.url == "/hopper-company-queries-III/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-29-hopper-company-queries-III %}">LeetCode 1651</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-29-hopper-company-queries-III %}">LeetCode 1651</a>
    {% endif %}

    {% if page.url == "/find-the-subtasks-that-did-not-execute/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-03-05-find-the-subtasks-that-did-not-execute %}">LeetCode 1767</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-03-05-find-the-subtasks-that-did-not-execute %}">LeetCode 1767</a>
    {% endif %}

    {% if page.url == "/page-recommendations-II/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-06-13-page-recommendations-II %}">LeetCode 1892</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-06-13-page-recommendations-II %}">LeetCode 1892</a>
    {% endif %}

    {% if page.url == "/leetcodify-friends-recommendations/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-09-11-leetcodify-friends-recommendations %}">LeetCode 1917</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-09-11-leetcodify-friends-recommendations %}">LeetCode 1917</a>
    {% endif %}

    {% if page.url == "/leetcodify-similar-friends/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-09-11-leetcodify-similar-friends %}">LeetCode 1919</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-09-11-leetcodify-similar-friends %}">LeetCode 1919</a>
    {% endif %}


    {% if page.url == "/first-and-last-call-on-the-same-day/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-09-11-first-and-last-call-on-the-same-day %}">LeetCode 1972</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-09-11-first-and-last-call-on-the-same-day %}">LeetCode 1972</a>
    {% endif %}











    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/leetcode-database-solution-list/">More LeetCode Database</a>

    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/mysql-tutorial-list/">MySQL Tutorials</a>

</div>
{% endif %}


