{% if page.sidenav == "LeetcodeDatabaseMedium3" %}
<div id="list-example" class="list-group">

    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/leetcode-database-solution-list/"><b>LeetCode Database - Medium</b></a>

    {% if page.url == "/npv-queries/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-22-npv-queries %}">LeetCode 1421</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-22-npv-queries %}">LeetCode 1421</a>
    {% endif %}

    {% if page.url == "/evaluate-boolean-expression/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-22-evaluate-boolean-expression %}">LeetCode 1440</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-22-evaluate-boolean-expression %}">LeetCode 1440</a>
    {% endif %}


    {% if page.url == "/apples-and-oranges/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-21-apples-and-oranges %}">LeetCode 1445</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-21-apples-and-oranges %}">LeetCode 1445</a>
    {% endif %}



    {% if page.url == "/active-users/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-26-active-users %}">LeetCode 1454</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-26-active-users %}">LeetCode 1454</a>
    {% endif %}


    {% if page.url == "/rectangles-area/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-23-rectangles-area %}">LeetCode 1459</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-23-rectangles-area %}">LeetCode 1459</a>
    {% endif %}


    {% if page.url == "/calculate-salaries/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-22-calculate-salaries %}">LeetCode 1468</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-22-calculate-salaries %}">LeetCode 1468</a>
    {% endif %}


    {% if page.url == "/countries-you-can-safely-invest-in/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-25-countries-you-can-safely-invest-in %}">LeetCode 1501</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-25-countries-you-can-safely-invest-in %}">LeetCode 1501</a>
    {% endif %}

    {% if page.url == "/the-most-recent-three-orders/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-22-the-most-recent-three-orders %}">LeetCode 1532</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-22-the-most-recent-three-orders %}">LeetCode 1532</a>
    {% endif %}

    {% if page.url == "/the-most-recent-orders-for-each-product/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-23-the-most-recent-orders-for-each-product %}">LeetCode 1549</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-23-the-most-recent-orders-for-each-product %}">LeetCode 1549</a>
    {% endif %}


    {% if page.url == "/bank-account-summary/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-25-bank-account-summary %}">LeetCode 1555</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-25-bank-account-summary %}">LeetCode 1555</a>
    {% endif %}


    {% if page.url == "/the-most-frequently-ordered-products-for-each-customer/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-21-the-most-frequently-ordered-products-for-each-customer %}">LeetCode 1596</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-21-the-most-frequently-ordered-products-for-each-customer %}">LeetCode 1596</a>
    {% endif %}


    {% if page.url == "/find-the-missing-ids/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-23-find-the-missing-ids %}">LeetCode 1613</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-23-find-the-missing-ids %}">LeetCode 1613</a>
    {% endif %}


    {% if page.url == "/number-of-calls-between-two-persons/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-26-number-of-calls-between-two-persons %}">LeetCode 1699</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-26-number-of-calls-between-two-persons %}">LeetCode 1699</a>
    {% endif %}


    {% if page.url == "/biggest-window-between-visits/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-01-04-biggest-window-between-visits %}">LeetCode 1709</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-01-04-biggest-window-between-visits %}">LeetCode 1709</a>
    {% endif %}










    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/leetcode-database-solution-list/">More LeetCode Database</a>


</div>
{% endif %}


