{% if page.sidenav == "LeetcodeDatabaseMedium2" %}
<div id="list-example" class="list-group">

    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/leetcode-database-solution-list/"><b>LeetCode Database - Medium</b></a>

    {% if page.url == "/reported-posts-II/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-26-reported-posts-II %}">LeetCode 1132</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-26-reported-posts-II %}">LeetCode 1132</a>
    {% endif %}

    {% if page.url == "/article-views-II/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-26-article-views-II %}">LeetCode 1149</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-26-article-views-II %}">LeetCode 1149</a>
    {% endif %}


    {% if page.url == "/market-analysis-I/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-23-market-analysis-I %}">LeetCode 1158</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-23-market-analysis-I %}">LeetCode 1158</a>
    {% endif %}

    {% if page.url == "/product-price-at-a-given-date/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-23-product-price-at-a-given-date %}">LeetCode 1164</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-23-product-price-at-a-given-date %}">LeetCode 1164</a>
    {% endif %}


    {% if page.url == "/immediate-food-delivery-II/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-25-immediate-food-delivery-II %}">LeetCode 1174</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-25-immediate-food-delivery-II %}">LeetCode 1174</a>
    {% endif %}


    {% if page.url == "/monthly-transactions-I/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-23-monthly-transactions-I %}">LeetCode 1193</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-23-monthly-transactions-I %}">LeetCode 1193</a>
    {% endif %}


    {% if page.url == "/last-person-to-fit-in-the-elevator/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-22-last-person-to-fit-in-the-elevator %}">LeetCode 1204</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-22-last-person-to-fit-in-the-elevator %}">LeetCode 1204</a>
    {% endif %}

    {% if page.url == "/monthly-transactions-II/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-26-monthly-transactions-II %}">LeetCode 1205</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-26-monthly-transactions-II %}">LeetCode 1205</a>
    {% endif %}


    {% if page.url == "/team-scores-in-football-tournament/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-25-team-scores-in-football-tournament %}">LeetCode 1212</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-25-team-scores-in-football-tournament %}">LeetCode 1212</a>
    {% endif %}

    {% if page.url == "/page-recommendations/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-23-page-recommendations %}">LeetCode 1264</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-23-page-recommendations %}">LeetCode 1264</a>
    {% endif %}


    {% if page.url == "/all-people-report-to-the-given-manager/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-21-all-people-report-to-the-given-manager %}">LeetCode 1270</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-21-all-people-report-to-the-given-manager %}">LeetCode 1270</a>
    {% endif %}

    {% if page.url == "/find-the-start-and-end-number-of-continuous-ranges/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-21-find-the-start-and-end-number-of-continuous-ranges %}">LeetCode 1285</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-21-find-the-start-and-end-number-of-continuous-ranges %}">LeetCode 1285</a>
    {% endif %}


    {% if page.url == "/running-total-for-different-genders/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-21-running-total-for-different-genders %}">LeetCode 1308</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-21-running-total-for-different-genders %}">LeetCode 1308</a>
    {% endif %}


    {% if page.url == "/restaurant-growth/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-22-restaurant-growth %}">LeetCode 1321</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-22-restaurant-growth %}">LeetCode 1321</a>
    {% endif %}



    {% if page.url == "/movie-rating/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-25-movie-rating %}">LeetCode 1341</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-25-movie-rating %}">LeetCode 1341</a>
    {% endif %}


    {% if page.url == "/activity-participants/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-22-activity-participants %}">LeetCode 1355</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-22-activity-participants %}">LeetCode 1355</a>
    {% endif %}


    {% if page.url == "/number-of-trusted-contacts-of-a-customer/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-22-number-of-trusted-contacts-of-a-customer %}">LeetCode 1364</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-22-number-of-trusted-contacts-of-a-customer %}">LeetCode 1364</a>
    {% endif %}


    {% if page.url == "/capital-gainloss/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-21-capital-gainloss %}">LeetCode 1393</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-21-capital-gainloss %}">LeetCode 1393</a>
    {% endif %}


    {% if page.url == "/customers-who-bought-products-a-and-b-but-not-c/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-21-customers-who-bought-products-a-and-b-but-not-c %}">LeetCode 1398</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-21-customers-who-bought-products-a-and-b-but-not-c %}">LeetCode 1398</a>
    {% endif %}













    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/leetcode-database-solution-list/">More LeetCode Database</a>

    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/mysql-tutorial-list/">MySQL Tutorials</a>

</div>
{% endif %}


