{% if page.sidenav == "DesignPatterns" %}
<div id="list-example" class="list-group">

    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/object-oriented-design-topic-list/"><b>Design Patterns</b></a>

    {% if page.url == "/factory-design-pattern/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url DesignPattern/2020-11-20-factory-design-pattern %}">Factory</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url DesignPattern/2020-11-20-factory-design-pattern %}">Factory</a>
    {% endif %}


    {% if page.url == "/singleton-design-pattern/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url DesignPattern/2020-11-20-singleton-design-pattern %}">Singleton</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url DesignPattern/2020-11-20-singleton-design-pattern %}">Singleton</a>
    {% endif %}


</div>
{% endif %}


