{% if page.sidenav == "LeetcodeDatabaseEasy1" %}
<div id="list-example" class="list-group">

    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/leetcode-database-solution-list/"><b>LeetCode Database Easy</b></a>

    {% if page.url == "/combine-two-tables/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-13-combine-two-tables %}">LeetCode 175</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-13-combine-two-tables %}">LeetCode 175</a>
    {% endif %}

    {% if page.url == "/second-highest-salary/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-16-second-highest-salary %}">LeetCode 176</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-16-second-highest-salary %}">LeetCode 176</a>
    {% endif %}

    {% if page.url == "/employees-earning-more-than-their-managers/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-16-employees-earning-more-than-their-managers %}">LeetCode 181</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-16-employees-earning-more-than-their-managers %}">LeetCode 181</a>
    {% endif %}


    {% if page.url == "/duplicate-emails/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-17-duplicate-emails %}">LeetCode 182</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-17-duplicate-emails %}">LeetCode 182</a>
    {% endif %}


    {% if page.url == "/customers-who-never-order/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-17-customers-who-never-order %}">LeetCode 183</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-17-customers-who-never-order %}">LeetCode 183</a>
    {% endif %}

    {% if page.url == "/delete-duplicate-emails/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-18-delete-duplicate-emails %}">LeetCode 196</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-18-delete-duplicate-emails %}">LeetCode 196</a>
    {% endif %}

    {% if page.url == "/rising-temperature/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-18-rising-temperature %}">LeetCode 197</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-18-rising-temperature %}">LeetCode 197</a>
    {% endif %}


    {% if page.url == "/game-play-analysis-I/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-18-game-play-analysis-I %}">LeetCode 511</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-18-game-play-analysis-I %}">LeetCode 511</a>
    {% endif %}

    {% if page.url == "/game-play-analysis-II/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-18-game-play-analysis-II %}">LeetCode 512</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-18-game-play-analysis-II %}">LeetCode 512</a>
    {% endif %}

    {% if page.url == "/employee-bonus/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-18-employee-bonus %}">LeetCode 577</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-18-employee-bonus %}">LeetCode 577</a>
    {% endif %}

    {% if page.url == "/find-customer-referee/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-19-find-customer-referee %}">LeetCode 584</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-19-find-customer-referee %}">LeetCode 584</a>
    {% endif %}

    {% if page.url == "/customer-placing-the-largest-number-of-orders/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-19-customer-placing-the-largest-number-of-orders %}">LeetCode 586</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-19-customer-placing-the-largest-number-of-orders %}">LeetCode 586</a>
    {% endif %}

    {% if page.url == "/big-countries/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-19-big-countries %}">LeetCode 595</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-19-big-countries %}">LeetCode 595</a>
    {% endif %}

    {% if page.url == "/classes-more-than-5-students/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-21-classes-more-than-5-students %}">LeetCode 596</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-21-classes-more-than-5-students %}">LeetCode 596</a>
    {% endif %}

    {% if page.url == "/friend-requests-I-overall-acceptance-rate/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-21-friend-requests-I-overall-acceptance-rate %}">LeetCode 597</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-21-friend-requests-I-overall-acceptance-rate %}">LeetCode 597</a>
    {% endif %}

    {% if page.url == "/consecutive-available-seats/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-20-consecutive-available-seats %}">LeetCode 603</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-20-consecutive-available-seats %}">LeetCode 603</a>
    {% endif %}

    {% if page.url == "/sales-person/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-20-sales-person %}">LeetCode 607</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-20-sales-person %}">LeetCode 607</a>
    {% endif %}

    {% if page.url == "/triangle-judgement/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-20-triangle-judgement %}">LeetCode 610</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-20-triangle-judgement %}">LeetCode 610</a>
    {% endif %}

    {% if page.url == "/shortest-distance-in-a-line/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-19-shortest-distance-in-a-line %}">LeetCode 613</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-19-shortest-distance-in-a-line %}">LeetCode 613</a>
    {% endif %}


    {% if page.url == "/biggest-single-number/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-21-biggest-single-number %}">LeetCode 619</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-21-biggest-single-number %}">LeetCode 619</a>
    {% endif %}


    {% if page.url == "/not-boring-movies/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-20-not-boring-movies %}">LeetCode 620</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-20-not-boring-movies %}">LeetCode 620</a>
    {% endif %}

    {% if page.url == "/swap-salary/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-19-swap-salary %}">LeetCode 627</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-19-swap-salary %}">LeetCode 627</a>
    {% endif %}



    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/leetcode-database-solution-list/">More LeetCode Database</a>


</div>
{% endif %}


