{% if page.sidenav == "MySQL" %}
<div id="list-example" class="list-group">

    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/mysql-tutorial-list/"><b>MySQL Tutorial</b></a>

    {% if page.url == "/mysql-select-statement/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2020-12-30-mysql-select-statement %}">MySQL SELECT</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2020-12-30-mysql-select-statement %}">MySQL SELECT</a>
    {% endif %}

    {% if page.url == "/mysql-order-by-clause/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-02-mysql-order-by-clause %}">MySQL ORDER BY</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-02-mysql-order-by-clause %}">MySQL ORDER BY</a>
    {% endif %}
    
    {% if page.url == "/mysql-where-clause/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-06-mysql-where-clause %}">MySQL WHERE</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-06-mysql-where-clause %}">MySQL WHERE</a>
    {% endif %}

    {% if page.url == "/mysql-distinct-clause/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-06-mysql-distinct-clause %}">MySQL DISTINCT</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-06-mysql-distinct-clause %}">MySQL DISTINCT</a>
    {% endif %}


    {% if page.url == "/mysql-and-operator/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-07-mysql-and-operator %}">MySQL AND</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-07-mysql-and-operator %}">MySQL AND</a>
    {% endif %}

    {% if page.url == "/mysql-or-operator/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-07-mysql-or-operator %}">MySQL OR</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-07-mysql-or-operator %}">MySQL OR</a>
    {% endif %}

    {% if page.url == "/mysql-in-clause/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-07-mysql-in-clause %}">MySQL IN</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-07-mysql-in-clause %}">MySQL IN</a>
    {% endif %}

    {% if page.url == "/mysql-between-operator/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-07-mysql-between-operator %}">MySQL BETWEEN</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-07-mysql-between-operator %}">MySQL BETWEEN</a>
    {% endif %}


    {% if page.url == "/mysql-like-operator/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-07-mysql-like-operator %}">MySQL LIKE</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-07-mysql-like-operator %}">MySQL LIKE</a>
    {% endif %}

    {% if page.url == "/mysql-limit-clause/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-07-mysql-limit-clause %}">MySQL LIMIT</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-07-mysql-limit-clause %}">MySQL LIMIT</a>
    {% endif %}

    {% if page.url == "/mysql-is-null-operator/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-07-mysql-is-null-operator %}">MySQL IS NULL</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-07-mysql-is-null-operator %}">MySQL IS NULL</a>
    {% endif %}






</div>
{% endif %}


