{% if page.sidenav == "LeetcodeDatabaseEasy3" %}
<div id="list-example" class="list-group">

    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/leetcode-database-solution-list/"><b>LeetCode Database - Easy</b></a>

    

    {% if page.url == "/top-travellers/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-19-top-travellers %}">LeetCode 1407</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-19-top-travellers %}">LeetCode 1407</a>
    {% endif %}

    {% if page.url == "/create-a-session-bar-chart/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-19-create-a-session-bar-chart %}">LeetCode 1435</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-19-create-a-session-bar-chart %}">LeetCode 1435</a>
    {% endif %}

    {% if page.url == "/group-sold-products-by-the-date/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-15-group-sold-products-by-the-date %}">LeetCode 1484</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-15-group-sold-products-by-the-date %}">LeetCode 1484</a>
    {% endif %}

    {% if page.url == "/friendly-movies-streamed-last-month/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-21-friendly-movies-streamed-last-month %}">LeetCode 1495</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-21-friendly-movies-streamed-last-month %}">LeetCode 1495</a>
    {% endif %}

    {% if page.url == "/customer-order-frequency/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-19-customer-order-frequency %}">LeetCode 1511</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-19-customer-order-frequency %}">LeetCode 1511</a>
    {% endif %}

    {% if page.url == "/find-users-with-valid-emails/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-19-find-users-with-valid-emails %}">LeetCode 1517</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-19-find-users-with-valid-emails %}">LeetCode 1517</a>
    {% endif %}

    {% if page.url == "/patients-with-a-condition/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-13-patients-with-a-condition %}">LeetCode 1527</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-13-patients-with-a-condition %}">LeetCode 1527</a>
    {% endif %}

    {% if page.url == "/fix-product-name-format/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-20-fix-product-name-format %}">LeetCode 1543</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-20-fix-product-name-format %}">LeetCode 1543</a>
    {% endif %}

    {% if page.url == "/unique-orders-and-customers-per-month/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-18-unique-orders-and-customers-per-month %}">LeetCode 1565</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-18-unique-orders-and-customers-per-month %}">LeetCode 1565</a>
    {% endif %}

    {% if page.url == "/warehouse-manager/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-13-warehouse-manager %}">LeetCode 1571</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-13-warehouse-manager %}">LeetCode 1571</a>
    {% endif %}


    {% if page.url == "/customer-who-visited-but-did-not-make-any-transactions/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-18-customer-who-visited-but-did-not-make-any-transactions %}">LeetCode 1581</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-18-customer-who-visited-but-did-not-make-any-transactions %}">LeetCode 1581</a>
    {% endif %}


    {% if page.url == "/bank-account-summary-II/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-16-bank-account-summary-II %}">LeetCode 1587</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-16-bank-account-summary-II %}">LeetCode 1587</a>
    {% endif %}

    {% if page.url == "/sellers-with-no-sales/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-18-sellers-with-no-sales %}">LeetCode 1607</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-18-sellers-with-no-sales %}">LeetCode 1607</a>
    {% endif %}


    {% if page.url == "/all-valid-triplets-that-can-represent-a-country/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-15-all-valid-triplets-that-can-represent-a-country %}">LeetCode 1623</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-15-all-valid-triplets-that-can-represent-a-country %}">LeetCode 1623</a>
    {% endif %}

    {% if page.url == "/percentage-of-users-attended-a-contest/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-17-percentage-of-users-attended-a-contest %}">LeetCode 1633</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-17-percentage-of-users-attended-a-contest %}">LeetCode 1633</a>
    {% endif %}

    {% if page.url == "/average-time-of-process-per-machine/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-17-average-time-of-process-per-machine %}">LeetCode 1661</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-17-average-time-of-process-per-machine %}">LeetCode 1661</a>
    {% endif %}


    {% if page.url == "/fix-names-in-a-table/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-17-fix-names-in-a-table %}">LeetCode 1667</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-17-fix-names-in-a-table %}">LeetCode 1667</a>
    {% endif %}

    {% if page.url == "/products-worth-over-invoices/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-17-products-worth-over-invoices %}">LeetCode 1677</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-17-products-worth-over-invoices %}">LeetCode 1677</a>
    {% endif %}

    {% if page.url == "/invalid-tweets/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-13-invalid-tweets %}">LeetCode 1683</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-13-invalid-tweets %}">LeetCode 1683</a>
    {% endif %}


    {% if page.url == "/daily-leads-and-partners/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2020-12-18-daily-leads-and-partners %}">LeetCode 1693</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2020-12-18-daily-leads-and-partners %}">LeetCode 1693</a>
    {% endif %}

    {% if page.url == "/find-followers-count/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-01-20-find-followers-count %}">LeetCode 1729</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-01-20-find-followers-count %}">LeetCode 1729</a>
    {% endif %}

    {% if page.url == "/the-number-of-employees-which-report-to-each-employee/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-01-24-the-number-of-employees-which-report-to-each-employee %}">LeetCode 1731</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-01-24-the-number-of-employees-which-report-to-each-employee %}">LeetCode 1731</a>
    {% endif %}

    {% if page.url == "/find-total-time-spent-by-each-employee/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-01-31-find-total-time-spent-by-each-employee %}">LeetCode 1741</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-01-31-find-total-time-spent-by-each-employee %}">LeetCode 1741</a>
    {% endif %}

    {% if page.url == "/recyclable-and-low-fat-products/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-02-14-recyclable-and-low-fat-products %}">LeetCode 1757</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-02-14-recyclable-and-low-fat-products %}">LeetCode 1757</a>
    {% endif %}


    {% if page.url == "/products-price-for-each-store/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-03-05-products-price-for-each-store %}">LeetCode 1777</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-03-05-products-price-for-each-store %}">LeetCode 1777</a>
    {% endif %}
















    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/leetcode-database-solution-list/">More LeetCode Database</a>

    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/mysql-tutorial-list/">MySQL Tutorials</a>

</div>
{% endif %}


