{% if page.sidenav == "MySQL" %}
<div id="list-example" class="list-group">

    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/mysql-tutorial-list/"><b>MySQL Tutorials</b></a>

    {% if page.url == "/mysql-select-statement/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2020-12-30-mysql-select-statement %}">SELECT</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2020-12-30-mysql-select-statement %}">SELECT</a>
    {% endif %}

    {% if page.url == "/mysql-order-by-clause/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-02-mysql-order-by-clause %}">ORDER BY</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-02-mysql-order-by-clause %}">ORDER BY</a>
    {% endif %}
    
    {% if page.url == "/mysql-where-clause/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-06-mysql-where-clause %}">WHERE</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-06-mysql-where-clause %}">WHERE</a>
    {% endif %}

    {% if page.url == "/mysql-distinct-clause/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-06-mysql-distinct-clause %}">DISTINCT</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-06-mysql-distinct-clause %}">DISTINCT</a>
    {% endif %}


    {% if page.url == "/mysql-and-operator/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-07-mysql-and-operator %}">AND</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-07-mysql-and-operator %}">AND</a>
    {% endif %}

    {% if page.url == "/mysql-or-operator/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-07-mysql-or-operator %}">OR</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-07-mysql-or-operator %}">OR</a>
    {% endif %}

    {% if page.url == "/mysql-in-clause/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-07-mysql-in-clause %}">IN</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-07-mysql-in-clause %}">IN</a>
    {% endif %}

    {% if page.url == "/mysql-between-operator/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-07-mysql-between-operator %}">BETWEEN</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-07-mysql-between-operator %}">BETWEEN</a>
    {% endif %}


    {% if page.url == "/mysql-like-operator/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-07-mysql-like-operator %}">LIKE</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-07-mysql-like-operator %}">LIKE</a>
    {% endif %}

    {% if page.url == "/mysql-limit-clause/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-07-mysql-limit-clause %}">LIMIT</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-07-mysql-limit-clause %}">LIMIT</a>
    {% endif %}

    {% if page.url == "/mysql-is-null-operator/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-07-mysql-is-null-operator %}">IS NULL</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-07-mysql-is-null-operator %}">IS NULL</a>
    {% endif %}

    {% if page.url == "/mysql-aliases/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-09-mysql-aliases %}">Aliases</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-09-mysql-aliases %}">Aliases</a>
    {% endif %}

    {% if page.url == "/mysql-inner-join-clause/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url MySQL/2021-01-09-mysql-inner-join-clause %}">INNER JOIN</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url MySQL/2021-01-09-mysql-inner-join-clause %}">INNER JOIN</a>
    {% endif %}


</div>
{% endif %}


