{% if page.sidenav == "LeetcodeDatabaseMedium4" %}
<div id="list-example" class="list-group">

    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/leetcode-database-solution-list/"><b>LeetCode Database - Medium</b></a>

    {% if page.url == "/maximum-transaction-each-day/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-06-13-maximum-transaction-each-day %}">LeetCode 1831</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-06-13-maximum-transaction-each-day %}">LeetCode 1831</a>
    {% endif %}

    {% if page.url == "/league-statistics/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-06-13-league-statistics %}">LeetCode 1841</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-06-13-league-statistics %}">LeetCode 1841</a>
    {% endif %}

    {% if page.url == "/suspicious-bank-accounts/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-06-13-suspicious-bank-accounts %}">LeetCode 1843</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-06-13-suspicious-bank-accounts %}">LeetCode 1843</a>
    {% endif %}

    {% if page.url == "/orders-with-maximum-quantity-above-average/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-06-13-orders-with-maximum-quantity-above-average %}">LeetCode 1867</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-06-13-orders-with-maximum-quantity-above-average %}">LeetCode 1867</a>
    {% endif %}

    {% if page.url == "/group-employees-of-the-same-salary/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-06-13-group-employees-of-the-same-salary %}">LeetCode 1875</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-06-13-group-employees-of-the-same-salary %}">LeetCode 1875</a>
    {% endif %}

    {% if page.url == "/count-salary-categories/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-09-11-count-salary-categories %}">LeetCode 1907</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-09-11-count-salary-categories %}">LeetCode 1907</a>
    {% endif %}


    {% if page.url == "/confirmation-rate/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-09-11-confirmation-rate %}">LeetCode 1934</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-09-11-confirmation-rate %}">LeetCode 1934</a>
    {% endif %}


    {% if page.url == "/strong-friendship/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-09-11-strong-friendship %}">LeetCode 1949</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-09-11-strong-friendship %}">LeetCode 1949</a>
    {% endif %}

    {% if page.url == "/all-the-pairs-with-the-maximum-number-of-common-followers/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-09-11-all-the-pairs-with-the-maximum-number-of-common-followers %}">LeetCode 1951</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-09-11-all-the-pairs-with-the-maximum-number-of-common-followers %}">LeetCode 1951</a>
    {% endif %}

    {% if page.url == "/find-cutoff-score-for-each-school/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-09-11-find-cutoff-score-for-each-school %}">LeetCode 1988</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-09-11-find-cutoff-score-for-each-school %}">LeetCode 1988</a>
    {% endif %}

    {% if page.url == "/count-the-number-of-experiments/" %}
        <a class="list-group-item list-group-item-action sidebar-highlight" href="{% post_url LeetCode/2021-09-11-count-the-number-of-experiments %}">LeetCode 1990</a>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% post_url LeetCode/2021-09-11-count-the-number-of-experiments %}">LeetCode 1990</a>
    {% endif %}



    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/leetcode-database-solution-list/">More LeetCode Database</a>


    <a class="list-group-item list-group-item-action" href="{{ site.posturl }}/mysql-tutorial-list/">MySQL Tutorials</a>

</div>
{% endif %}


